body{
    text-align: center;
    background-color:whitesmoke
}


.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 7px solid black;
    margin: 15px;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #d95980;
}

.yellow{
     background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}

